.overview {
    background-color: $bg-2;
    min-height: 100vh;

    a {
        text-decoration: none;
        
        .v-tab {
            height: 100%;
        }
    }

    .body {
        width: 80%;
        
        @media (max-width: 700px) {
            width: 90%;
        }

        .divider {
            position: relative;
            border: 1px solid;
            padding: 10px;
        }
    }
}