.thumbnail-post {
    text-decoration: none;
}

.v-card {
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.v-list-item {
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: $fg-1;
}