.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    background-color: $bg-1;
    text-align: center;
    padding-bottom: 10vh;

    .name {
        font-size: 3em;
        color: $txt-1;
        border-bottom: 2px solid;
        width: 80%;
        padding-bottom: 5px;
        margin: 5% auto;
    }

    .occupation, .field {
        color: $txt-2;
        padding: 0 5%;
    }

    .occupation {
        font-size: 2em;
    }

    .field {
        margin-top: 10px;
        font-size: 1.5em;
        color: $txt-3
    }
}
